<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>热销</string>
		<key>icon</key>
		<string>热销</string>
		<key>sequence</key>
		<integer>0</integer>
		<key>skus</key>
		<array>
			<dict>
				<key>id</key>
				<integer>150568941</integer>
				<key>describe</key>
				<string>鸡排入口，咔咔声不绝于耳...松脆软嫩全齐了，你还在等什么？</string>
				<key>name</key>
				<string>炫辣鸡排拼卤肉饭+可口可乐套餐</string>
				<key>picture</key>
				<string>炫辣鸡排</string>
				<key>monthSaled</key>
				<integer>284</integer>
				<key>monthSaledContent</key>
				<string>月售284</string>
				<key>price</key>
				<real>19.8</real>
				<key>originPrice</key>
				<real>39.6</real>
				<key>praiseNum</key>
				<integer>2</integer>
				<key>promotionInfo</key>
				<string>5折 每单限100份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>141124605</integer>
				<key>describe</key>
				<string>驰名娜鲁湾60年的卤肉饭。现在已经来到你的身边，还在等什么？快来...</string>
				<key>name</key>
				<string>秘制卤肉饭+可口可乐套餐</string>
				<key>picture</key>
				<string>秘制卤肉</string>
				<key>monthSaled</key>
				<integer>83</integer>
				<key>monthSaledContent</key>
				<string>月售83</string>
				<key>price</key>
				<real>18.8</real>
				<key>originPrice</key>
				<real>37.6</real>
				<key>praiseNum</key>
				<integer>0</integer>
				<key>promotionInfo</key>
				<string>5折 每单限100份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>141126011</integer>
				<key>describe</key>
				<string>小火慢炖，精心熬制。快来尝尝我们的南洋咖喱吧，正宗的娘惹味道！</string>
				<key>name</key>
				<string>南洋咖喱鸡肉饭</string>
				<key>picture</key>
				<string>南洋咖喱鸡肉饭</string>
				<key>monthSaled</key>
				<integer>69</integer>
				<key>monthSaledContent</key>
				<string>月售69</string>
				<key>price</key>
				<real>15.18</real>
				<key>originPrice</key>
				<real>27.6</real>
				<key>praiseNum</key>
				<integer>1</integer>
				<key>promotionInfo</key>
				<string>5.5折 每单限1000份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>141124595</integer>
				<key>describe</key>
				<string>驰名娜鲁湾60年的卤肉饭。现在已经来到你的身边，还在等什么？快来...</string>
				<key>name</key>
				<string>驰名娜鲁湾卤肉饭</string>
				<key>picture</key>
				<string>驰名娜鲁湾卤肉饭</string>
				<key>monthSaled</key>
				<integer>35</integer>
				<key>monthSaledContent</key>
				<string>月售35</string>
				<key>price</key>
				<real>26.6</real>
				<key>originPrice</key>
				<real>26.6</real>
				<key>praiseNum</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<real>121624277</real>
				<key>describe</key>
				<string>多C，多漂亮！</string>
				<key>name</key>
				<string>果粒橙</string>
				<key>picture</key>
				<string>果粒橙</string>
				<key>monthSaled</key>
				<integer>30</integer>
				<key>monthSaledContent</key>
				<string>月售30</string>
				<key>price</key>
				<integer>5</integer>
				<key>originPrice</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>121624274</integer>
				<key>describe</key>
				<string>比我每次看到女神不回我消息，还更加心凉透。</string>
				<key>name</key>
				<string>心透凉雪碧</string>
				<key>picture</key>
				<string>雪碧</string>
				<key>monthSaled</key>
				<integer>29</integer>
				<key>monthSaledContent</key>
				<string>月售29</string>
				<key>price</key>
				<integer>5</integer>
				<key>originPrice</key>
				<integer>5</integer>
				<key>praiseNum</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>121624288</integer>
				<key>describe</key>
				<string>我们这么高大上的人怎么会喝山寨的呢！</string>
				<key>name</key>
				<string>海南岛的椰汁</string>
				<key>picture</key>
				<string>海南岛椰汁</string>
				<key>monthSaled</key>
				<integer>21</integer>
				<key>monthSaledContent</key>
				<string>月售21</string>
				<key>price</key>
				<real>5.5</real>
				<key>originPrice</key>
				<real>5.5</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>140731676</integer>
				<key>describe</key>
				<string>一份充满西域神秘味道的味蕾礼物！</string>
				<key>name</key>
				<string>厚味孜然烤肉饭</string>
				<key>picture</key>
				<string>厚味孜然烤肉饭</string>
				<key>monthSaled</key>
				<integer>20</integer>
				<key>monthSaledContent</key>
				<string>月售20</string>
				<key>price</key>
				<real>27.6</real>
				<key>originPrice</key>
				<real>27.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>141124604</integer>
				<key>describe</key>
				<string>我们这么高大上的人怎么会喝山寨的呢！</string>
				<key>name</key>
				<string>南洋咖喱鱼排饭</string>
				<key>picture</key>
				<string>南洋咖喱鱼排饭</string>
				<key>monthSaled</key>
				<integer>19</integer>
				<key>monthSaledContent</key>
				<string>月售19</string>
				<key>price</key>
				<real>15.1</real>
				<key>originPrice</key>
				<real>29.6</real>
				<key>promotionInfo</key>
				<string>5.1折 每单限100份</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>折扣</string>
		<key>icon</key>
		<string>折扣</string>
		<key>selected</key>
		<false/>
		<key>sequence</key>
		<integer>1</integer>
		<key>skus</key>
		<array>
			<dict>
				<key>id</key>
				<integer>146232661</integer>
				<key>describe</key>
				<string>无敌手枪腿拼卤肉饭+台湾进口100%鲜果汁</string>
				<key>name</key>
				<string>☺超级秒杀D款套餐</string>
				<key>picture</key>
				<string>超级秒杀D款套餐</string>
				<key>monthSaled</key>
				<integer>8</integer>
				<key>monthSaledContent</key>
				<string>月售8</string>
				<key>price</key>
				<real>21.6</real>
				<key>originPrice</key>
				<real>43.2</real>
				<key>promotionInfo</key>
				<string>5折 每单限1000份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>156234345</integer>
				<key>describe</key>
				<string>炫辣鸡排拼卤肉饭+台湾进口100%鲜果汁</string>
				<key>name</key>
				<string>☺超级秒杀C款套餐</string>
				<key>picture</key>
				<string>超级秒杀C款套餐</string>
				<key>monthSaled</key>
				<integer>13</integer>
				<key>monthSaledContent</key>
				<string>月售13</string>
				<key>price</key>
				<real>20.6</real>
				<key>originPrice</key>
				<real>41.2</real>
				<key>promotionInfo</key>
				<string>5折 每单限100份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>146234120</integer>
				<key>describe</key>
				<string>小火慢炖，精心熬制。快来尝尝我们的南洋咖喱吧，正宗的娘惹味道！</string>
				<key>name</key>
				<string>☺超级秒杀B款套餐</string>
				<key>picture</key>
				<string>超级秒杀B款套餐</string>
				<key>monthSaled</key>
				<integer>5</integer>
				<key>monthSaledContent</key>
				<string>月售5</string>
				<key>price</key>
				<real>19.6</real>
				<key>originPrice</key>
				<real>39.2</real>
				<key>promotionInfo</key>
				<string>5.5折 每单限1000份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>146229819</integer>
				<key>describe</key>
				<string>驰名娜鲁湾卤肉饭+台湾进口100%鲜果汁</string>
				<key>name</key>
				<string>☺超级秒杀A款套餐</string>
				<key>picture</key>
				<string>超级秒杀A款套餐</string>
				<key>monthSaled</key>
				<integer>3</integer>
				<key>monthSaledContent</key>
				<string>月售3</string>
				<key>price</key>
				<real>19.6</real>
				<key>originPrice</key>
				<real>39.2</real>
				<key>praiseNum</key>
				<integer>1</integer>
				<key>promotionInfo</key>
				<string>5.5折 每单限1000份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>141124604</integer>
				<key>describe</key>
				<string>&quot;阿拉斯加深海鳕鱼排，辅以纯正南洋咖喱。这滋味--无出其右！怎可不尝？</string>
				<key>name</key>
				<string>南洋咖喱鱼排饭</string>
				<key>picture</key>
				<string>南洋咖喱鱼排饭</string>
				<key>monthSaled</key>
				<integer>19</integer>
				<key>monthSaledContent</key>
				<string>月售19</string>
				<key>price</key>
				<real>15.1</real>
				<key>originPrice</key>
				<real>29.6</real>
				<key>promotionInfo</key>
				<string>5.1折 每单限1000份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>141126011</integer>
				<key>describe</key>
				<string>小火慢炖，精心熬制。快来尝尝我们的南洋咖喱吧，正宗的娘惹味道！</string>
				<key>name</key>
				<string>南洋咖喱鸡肉饭</string>
				<key>picture</key>
				<string>南洋咖喱鸡肉饭</string>
				<key>monthSaled</key>
				<integer>69</integer>
				<key>monthSaledContent</key>
				<string>月售69</string>
				<key>price</key>
				<real>15.18</real>
				<key>originPrice</key>
				<real>27.6</real>
				<key>praiseNum</key>
				<integer>1</integer>
				<key>promotionInfo</key>
				<string>5.5折 每单限1000份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>141124605</integer>
				<key>describe</key>
				<string>驰名娜鲁湾60年的卤肉饭。现在已经来到你的身边，还在等什么？快来...</string>
				<key>name</key>
				<string>驰名娜鲁湾卤肉饭</string>
				<key>picture</key>
				<string>驰名娜鲁湾卤肉饭</string>
				<key>monthSaled</key>
				<integer>83</integer>
				<key>monthSaledContent</key>
				<string>月售83</string>
				<key>price</key>
				<real>18.8</real>
				<key>originPrice</key>
				<real>37.6</real>
				<key>promotionInfo</key>
				<string>5.5折 每单限1000份</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>141125210</integer>
				<key>describe</key>
				<string>鸡排入口，咔咔声不绝于耳...松脆软嫩全齐了，你还在等什么？</string>
				<key>name</key>
				<string>炫辣鸡排</string>
				<key>picture</key>
				<string>炫辣鸡排</string>
				<key>monthSaled</key>
				<integer>284</integer>
				<key>monthSaledContent</key>
				<string>月售284</string>
				<key>price</key>
				<real>19.8</real>
				<key>originPrice</key>
				<real>39.6</real>
				<key>promotionInfo</key>
				<string>5折 每单限1000份</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>大满减单人餐（有饭）</string>
		<key>selected</key>
		<false/>
		<key>sequence</key>
		<integer>0</integer>
		<key>skus</key>
		<array>
			<dict>
				<key>id</key>
				<integer>145136618</integer>
				<key>describe</key>
				<string>金栗飘香，骨肉滋润...全都齐了。就差你来了！</string>
				<key>name</key>
				<string>糯香金栗排骨饭</string>
				<key>picture</key>
				<string>糯香金栗排骨饭</string>
				<key>monthSaled</key>
				<integer>29</integer>
				<key>monthSaledContent</key>
				<string>月售29</string>
				<key>price</key>
				<real>29.6</real>
				<key>originPrice</key>
				<real>29.6</real>
				<key>praiseNum</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>145136652</integer>
				<key>describe</key>
				<string>驰名娜鲁湾60年的卤肉饭。现在已经来到你的身边，还在等什么？快来...</string>
				<key>name</key>
				<string>乐优黄金焖鸡饭</string>
				<key>picture</key>
				<string>乐优黄金焖鸡饭</string>
				<key>monthSaled</key>
				<integer>4</integer>
				<key>monthSaledContent</key>
				<string>月售4</string>
				<key>price</key>
				<real>29.6</real>
				<key>originPrice</key>
				<real>29.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>145686526</integer>
				<key>describe</key>
				<string>整整半只奥尔良鸡腿，装上大粒喷香卤肉...完全满足你的“肉欲”！哈哈</string>
				<key>name</key>
				<string>无敌手枪腿拼卤肉饭</string>
				<key>picture</key>
				<string>无敌手枪腿拼卤肉饭</string>
				<key>monthSaled</key>
				<integer>5</integer>
				<key>monthSaledContent</key>
				<string>月售5</string>
				<key>price</key>
				<real>29.6</real>
				<key>originPrice</key>
				<real>29.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>145139367</integer>
				<key>describe</key>
				<string>这是一份足以让肉食者们--“逞一时口舌之快”的大餐！</string>
				<key>name</key>
				<string>疯狂对翅拼卤肉饭</string>
				<key>picture</key>
				<string>疯狂对翅拼卤肉饭</string>
				<key>monthSaled</key>
				<integer>5</integer>
				<key>monthSaledContent</key>
				<string>月售5</string>
				<key>price</key>
				<real>26.6</real>
				<key>originPrice</key>
				<real>26.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>145134731</integer>
				<key>describe</key>
				<string>鲜嫩小鸡腿，微微有点儿辣！对了，这不就是青春的味道吗？</string>
				<key>name</key>
				<string>热辣春鸡小腿饭</string>
				<key>picture</key>
				<string>热辣春鸡小腿饭</string>
				<key>monthSaled</key>
				<integer>3</integer>
				<key>monthSaledContent</key>
				<string>月售3</string>
				<key>price</key>
				<real>28.6</real>
				<key>originPrice</key>
				<real>28.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>145136495</integer>
				<key>describe</key>
				<string>梅菜不是没菜！你是有才，不是有菜！</string>
				<key>name</key>
				<string>老坛梅菜扣肉饭</string>
				<key>picture</key>
				<string>老坛梅菜扣肉饭</string>
				<key>monthSaled</key>
				<integer>5</integer>
				<key>monthSaledContent</key>
				<string>5</string>
				<key>price</key>
				<real>28.6</real>
				<key>originPrice</key>
				<real>28.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>141124602</integer>
				<key>describe</key>
				<string>外焦里嫩的炸鸡，配上细滑滋润的卤肉，这味道...快来犒赏自己！</string>
				<key>name</key>
				<string>唐洋炸鸡拼卤肉饭</string>
				<key>picture</key>
				<string>唐洋炸鸡拼卤肉饭</string>
				<key>monthSaled</key>
				<integer>11</integer>
				<key>monthSaledContent</key>
				<string>月售11</string>
				<key>price</key>
				<real>28.6</real>
				<key>originPrice</key>
				<real>28.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>141124600</integer>
				<key>describe</key>
				<string>鸡排入口，咔咔声不绝于耳...松脆软嫩全齐了，你还在等什么？</string>
				<key>name</key>
				<string>炫酷鸡排拼卤肉饭</string>
				<key>picture</key>
				<string>炫酷鸡排拼卤肉饭</string>
				<key>monthSaled</key>
				<integer>18</integer>
				<key>monthSaledContent</key>
				<string>月售18</string>
				<key>price</key>
				<real>28.6</real>
				<key>originPrice</key>
				<real>28.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>145810173</integer>
				<key>describe</key>
				<string>这道菜足以让你“逞一时口舌之快</string>
				<key>name</key>
				<string>非同凡响小炒肉饭</string>
				<key>picture</key>
				<string>非同凡响小炒肉饭</string>
				<key>monthSaled</key>
				<integer>4</integer>
				<key>monthSaledContent</key>
				<string>月售4</string>
				<key>price</key>
				<real>27.6</real>
				<key>originPrice</key>
				<real>27.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>141124595</integer>
				<key>describe</key>
				<string>驰名娜鲁湾60年的卤肉饭。现在已经来到你的身边，还在等什么？快来..</string>
				<key>name</key>
				<string>驰名娜鲁湾卤肉饭</string>
				<key>picture</key>
				<string>驰名娜鲁湾卤肉饭</string>
				<key>monthSaled</key>
				<integer>35</integer>
				<key>monthSaledContent</key>
				<string>月售35</string>
				<key>price</key>
				<real>27.6</real>
				<key>originPrice</key>
				<real>27.6</real>
				<key>praiseNum</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>英潮外卖伴侣</string>
		<key>icon</key>
		<string></string>
		<key>selected</key>
		<false/>
		<key>sequence</key>
		<integer>0</integer>
		<key>skus</key>
		<array>
			<dict>
				<key>id</key>
				<integer>141125212</integer>
				<key>describe</key>
				<string>鲜椒熬制，味道甘美。英潮鲜椒酱，好吃不上火！</string>
				<key>name</key>
				<string>黄旋风--英潮鲁西牛肉鲜椒酱</string>
				<key>picture</key>
				<string>牛肉鲜椒酱</string>
				<key>monthSaled</key>
				<integer>11</integer>
				<key>monthSaledContent</key>
				<string>月售11</string>
				<key>price</key>
				<real>5.6</real>
				<key>originPrice</key>
				<real>5.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>145139729</integer>
				<key>describe</key>
				<string>鲜椒熬制，味道甘美。英潮鲜椒酱，好吃不上火！</string>
				<key>name</key>
				<string>黄旋风--英潮虎皮鲜椒酱</string>
				<key>picture</key>
				<string>虎皮鲜椒酱</string>
				<key>monthSaled</key>
				<integer>0</integer>
				<key>monthSaledContent</key>
				<string>月售0</string>
				<key>price</key>
				<real>5.6</real>
				<key>originPrice</key>
				<real>5.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>145140207</integer>
				<key>describe</key>
				<string>鲜椒熬制，味道甘美。英潮鲜椒酱，好吃不上火！</string>
				<key>name</key>
				<string>黄旋风--英潮魔鬼特辣鲜椒酱</string>
				<key>picture</key>
				<string>特辣鲜椒酱</string>
				<key>monthSaled</key>
				<integer>2</integer>
				<key>monthSaledContent</key>
				<string>月售2</string>
				<key>price</key>
				<real>5.6</real>
				<key>originPrice</key>
				<real>5.6</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>进口纯果汁专场</string>
		<key>selected</key>
		<false/>
		<key>sequence</key>
		<integer>2</integer>
		<key>skus</key>
		<array>
			<dict>
				<key>id</key>
				<integer>145133776</integer>
				<key>describe</key>
				<string>百分百纯果汁，满满的都是爱！--你好，我来自台湾！</string>
				<key>name</key>
				<string>宝岛百分百红葡萄汁</string>
				<key>picture</key>
				<string>红葡萄汁</string>
				<key>monthSaled</key>
				<integer>1</integer>
				<key>monthSaledContent</key>
				<string>月售1</string>
				<key>price</key>
				<real>8.6</real>
				<key>originPrice</key>
				<real>8.6</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>145133830</integer>
				<key>describe</key>
				<string>百分百纯果汁，满满的都是爱！--你好，我来自台湾！</string>
				<key>name</key>
				<string>宝岛百分百芒果汁</string>
				<key>picture</key>
				<string>芒果汁</string>
				<key>monthSaled</key>
				<integer>0</integer>
				<key>monthSaledContent</key>
				<string>月售0</string>
				<key>price</key>
				<real>8.6</real>
				<key>originPrice</key>
				<real>8.6</real>
				<key>praiseNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>145132966</integer>
				<key>describe</key>
				<string>百分百纯果汁，满满的都是爱！--你好，我来自台湾！</string>
				<key>name</key>
				<string>宝岛百分百水蜜桃汁</string>
				<key>picture</key>
				<string>蜜桃汁</string>
				<key>monthSaled</key>
				<integer>0</integer>
				<key>monthSaledContent</key>
				<string>月售0</string>
				<key>price</key>
				<real>8.6</real>
				<key>originPrice</key>
				<real>8.6</real>
				<key>praiseNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>饮料</string>
		<key>selected</key>
		<false/>
		<key>sequence</key>
		<integer>4</integer>
		<key>skus</key>
		<array>
			<dict>
				<key>id</key>
				<integer>121624274</integer>
				<key>describe</key>
				<string>比我每次看到女神不回我消息，还更加心凉透。</string>
				<key>name</key>
				<string>心透凉雪碧</string>
				<key>picture</key>
				<string>雪碧</string>
				<key>monthSaled</key>
				<integer>29</integer>
				<key>monthSaledContent</key>
				<string>29</string>
				<key>price</key>
				<real>5</real>
				<key>originPrice</key>
				<real>5</real>
				<key>praiseNum</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>141124605</integer>
				<key>describe</key>
				<string>多C，多漂亮！</string>
				<key>name</key>
				<string>果粒橙</string>
				<key>picture</key>
				<string>果粒橙</string>
				<key>monthSaled</key>
				<integer>30</integer>
				<key>monthSaledContent</key>
				<string>月售30</string>
				<key>price</key>
				<real>5.5</real>
				<key>originPrice</key>
				<real>5.5</real>
				<key>praiseNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>121624279</integer>
				<key>describe</key>
				<string>我是小茗同学，不是小明同学！</string>
				<key>name</key>
				<string>小茗同学</string>
				<key>picture</key>
				<string>小茗同学</string>
				<key>monthSaled</key>
				<integer>14</integer>
				<key>monthSaledContent</key>
				<string>14</string>
				<key>price</key>
				<real>7</real>
				<key>originPrice</key>
				<integer>7</integer>
				<key>praiseNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>121624281</integer>
				<key>describe</key>
				<string>怡宝矿泉水</string>
				<key>name</key>
				<string>驰名娜鲁湾卤肉饭</string>
				<key>picture</key>
				<string>怡宝矿泉水</string>
				<key>monthSaled</key>
				<integer>1</integer>
				<key>monthSaledContent</key>
				<string>月售1</string>
				<key>price</key>
				<real>3.9</real>
				<key>originPrice</key>
				<real>3.9</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>121624284</integer>
				<key>describe</key>
				<string>爱他就喂他喝了这杯</string>
				<key>name</key>
				<string>爱她（他）柠檬茶</string>
				<key>picture</key>
				<string>柠檬茶</string>
				<key>monthSaled</key>
				<integer>8</integer>
				<key>monthSaledContent</key>
				<string>月售8</string>
				<key>price</key>
				<integer>7</integer>
				<key>originPrice</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>121624288</integer>
				<key>describe</key>
				<string>我们这么高大上的人怎么会喝山寨的呢！</string>
				<key>name</key>
				<string>海南岛的椰汁</string>
				<key>picture</key>
				<string>海南岛椰汁</string>
				<key>monthSaled</key>
				<integer>21</integer>
				<key>monthSaledContent</key>
				<string>月售21</string>
				<key>price</key>
				<real>5.5</real>
				<key>originPrice</key>
				<real>5.5</real>
			</dict>
			<dict>
				<key>id</key>
				<integer>121624290</integer>
				<key>describe</key>
				<string>可口可乐这名字取的真好，俺们餐厅就用可口可乐，喝不到百事的怪我呗！</string>
				<key>name</key>
				<string>可口可乐</string>
				<key>picture</key>
				<string>可口可乐</string>
				<key>monthSaled</key>
				<integer>22</integer>
				<key>monthSaledContent</key>
				<string>月售22</string>
				<key>price</key>
				<integer>5</integer>
				<key>originPrice</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>121624292</integer>
				<key>describe</key>
				<string>不是吉老王 ，隔壁都喝老王，我们只喝土豪金限量版加多宝，有钱任性</string>
				<key>name</key>
				<string>土豪版限量加多宝</string>
				<key>picture</key>
				<string>加多宝</string>
				<key>monthSaled</key>
				<integer>5</integer>
				<key>monthSaledContent</key>
				<string>月售5</string>
				<key>price</key>
				<integer>6</integer>
				<key>originPrice</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>121624290</integer>
				<key>describe</key>
				<string>多C，多漂亮！</string>
				<key>name</key>
				<string>+C柠檬味汽水</string>
				<key>picture</key>
				<string>柠檬味汽水</string>
				<key>monthSaled</key>
				<integer>4</integer>
				<key>monthSaledContent</key>
				<string>月售4</string>
				<key>price</key>
				<integer>7</integer>
				<key>originPrice</key>
				<integer>7</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>加饭</string>
		<key>icon</key>
		<string></string>
		<key>selected</key>
		<false/>
		<key>sequence</key>
		<integer>0</integer>
		<key>skus</key>
		<array>
			<dict>
				<key>id</key>
				<integer>121624298</integer>
				<key>name</key>
				<string>香喷喷的白米饭</string>
				<key>picture</key>
				<string>白米饭</string>
				<key>monthSaled</key>
				<integer>88</integer>
				<key>monthSaledContent</key>
				<string>月售88</string>
				<key>price</key>
				<integer>2</integer>
				<key>originPrice</key>
				<integer>2</integer>
				<key>praiseNum</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>加辣</string>
		<key>selected</key>
		<false/>
		<key>sequence</key>
		<integer>0</integer>
		<key>skus</key>
		<array>
			<dict>
				<key>id</key>
				<integer>141125213</integer>
				<key>describe</key>
				<string>加辣--你懂的！</string>
				<key>name</key>
				<string>加辣（每餐限一份）</string>
				<key>picture</key>
				<string>炫辣鸡排</string>
				<key>monthSaled</key>
				<integer>30</integer>
				<key>monthSaledContent</key>
				<string>月售30</string>
				<key>price</key>
				<real>0.1</real>
				<key>originPrice</key>
				<real>0.1</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
